*.git
*.bin
*.class
*.log
*.lock
*.cfg
*.gz
*.settings
*.iml
*.ipr
*.iws
*.idea
.classpath
/bin
/build
/Projects/GroovyForge
/Projects/GroovyMC
/Projects/RetroBees
.gradle/vcs-1/gc.properties
.gradle/4.10.3/gc.properties
