
.gradle/4.10.2/fileChanges/last-build.bin
.gradle/vcs-1/gc.properties
.gradle/4.10.2/gc.properties
.gradle/4.10.2/fileHashes/fileHashes.lock
.gradle/4.10.2/fileHashes/fileHashes.bin
.gradle/4.10.2/fileContent/fileContent.lock
MC/.gradle/gradle.log
.gradle/4.10.3/gc.properties
.gradle/4.10.3/fileHashes/fileHashes.lock
.gradle/4.10.3/fileHashes/fileHashes.bin
.gradle/4.10.3/fileContent/fileContent.lock
.gradle/4.10.3/fileChanges/last-build.bin
